
  <nz-range-picker style="margin-bottom: 10px;"></nz-range-picker>
  <nz-select ngModel="all" style="margin-left: 10px;width: 120px">
    <nz-option nzValue="all" nzLabel="全部IDC"></nz-option>
    <nz-option nzValue="blank" nzLabel="空港IDC"></nz-option>
    <nz-option nzValue="west" nzLabel="西青IDC"></nz-option>
  </nz-select>
  <nz-table #customNetflowTable [nzData]="customNetflowOfData" nzTableLayout="fixed">
    <thead>
    <tr>
      <th
        *ngFor="let column of customNetflowOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of customNetflowTable.data">
      <td><a (click)="showNetflowSummaryTable()">{{ data.compName }}</a></td>
      <td>{{ data.comp}}</td>
      <td>{{ data.other }}</td>
      <td>{{ data.total }}</td>
      <td>{{ data.inPro }}</td>
      <td>{{ data.outPro }}</td>
      <td>{{ data.outNet }}</td>
      <td>{{ data.high }}</td>
      <td>{{ data.low }}</td>
      <td>{{ data.inProRent }}</td>
      <td>{{ data.inNetRent }}</td>
      <td><a (click)="showWeb()">网站分析</a></td>
      <td><a (click)="showCustomTable()">域名分析</a></td>
      <td><a (click)="showIpAnalyseOk()">IP分析</a></td>
      <td><a (click)="showCdn()">CDN分析</a></td>
    </tr>
    </tbody>
  </nz-table>
  <button nz-button nzType="primary">导出</button>
  <nz-modal [(nzVisible)]="webVisible" nzTitle="网站" (nzOnCancel)="webCancel()" (nzOnOk)="webCancel()" [nzWidth]="1400">
    <ng-container *nzModalContent>
      <nz-table #webTable [nzData]="webData">
        <thead>
        <tr>
          <th>网站名称</th>
<!--          <th>域名</th>-->
          <th>ICP名称</th>
          <th>别名</th>
          <th>总体流速(Gbps)</th>
          <th>本省流速(Gbps)</th>
          <th>外省流速(Gbps)</th>
          <th>外网流速(Gbps)</th>
          <th>本省率(Gbps)</th>
          <th>本网率(Gbps)</th>
          <th>IP分析</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of webTable.data">
          <td>{{data.web}}</td>
<!--          <td>{{data.host}}</td>-->
          <td>{{data.icp}}</td>
          <td>{{data.other}}</td>
          <td>{{data.total}}</td>
          <td>{{data.inPro}}</td>
          <td>{{data.outPro}}</td>
          <td>{{data.outNet}}</td>
          <td>{{data.proRate}}</td>
          <td>{{data.netRate}}</td>
          <td><a (click)="showHost()">IP分析</a></td>
        </tr>
        </tbody>
      </nz-table>
    </ng-container>
    <nz-modal [(nzVisible)]="hostVisible" nzTitle="IP查看" (nzOnCancel)="hostCancel()" (nzOnOk)="hostCancel()">
      <ng-container *nzModalContent>
        <nz-table #hostTable [nzData]="hostData">
          <thead>
          <tr>
            <th>IP</th>
            <th>平均流速(Gbps)</th>
            <th>归属</th>
            <th>访问次数</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of hostTable.data">
            <td>{{ data.ip }}</td>
            <td>{{ data.average }}</td>
            <td>{{ data.belongs }}</td>
            <td>{{ data.times }}</td>
          </tr>
          </tbody>
        </nz-table>
        <button nz-button nzType="primary">导出</button>
      </ng-container>
    </nz-modal>
  </nz-modal>
  <nz-modal [(nzVisible)]="netflowSummaryVisible" nzTitle="流速详情" (nzOnCancel)="netflowSummaryCancel()" (nzOnOk)="netflowSummaryOk()" [nzWidth]="1500">
    <ng-container *nzModalContent>
      <div nz-row>
        <div nz-col nzSpan="24">
          <div echarts [options]="netflowTendOption"></div>
        </div>
      </div>
      <nz-row>
        <nz-col nzSpan="24">
          <nz-tabset>
            <nz-tab nzTitle="省内">
              <nz-table #province [nzData]="provinceOfData">
                <thead>
                <tr>
                  <th>省份</th>
                  <th>平均流速</th>
                  <th>峰值流速</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of province.data">
                  <td>{{ data.province }}</td>
                  <td>{{ data.average }}</td>
                  <td>{{ data.peak }}</td>
                </tr>
                </tbody>
              </nz-table>
              <button nz-button nzType="primary">导出</button>
            </nz-tab>
            <nz-tab nzTitle="省外">
              <nz-table #outProvince [nzData]="outProvinceOfData">
                <thead>
                <tr>
                  <th>省份</th>
                  <th>平均流速</th>
                  <th>峰值流速</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of outProvince.data">
                  <td>{{ data.province }}</td>
                  <td>{{ data.average }}</td>
                  <td>{{ data.peak }}</td>
                </tr>
                </tbody>
              </nz-table>
              <button nz-button nzType="primary">导出</button>
            </nz-tab>
            <nz-tab nzTitle="出网">
              <nz-table #outNet [nzData]="outProvinceOfData">
                <thead>
                <tr>
                  <th>省份</th>
                  <th>平均流速</th>
                  <th>峰值流速</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of outNet.data">
                  <td>{{ data.province }}</td>
                  <td>{{ data.average }}</td>
                  <td>{{ data.peak }}</td>
                </tr>
                </tbody>
              </nz-table>
              <button nz-button nzType="primary">导出</button>
            </nz-tab>
          </nz-tabset>
        </nz-col>
      </nz-row>
    </ng-container>
    <!--          <ng-container *nzModalContent>-->
    <!--            <div nz-row>-->
    <!--              <div nz-col nzSpan="12">-->
    <!--                <div echarts [options]="netflowTendOption"></div>-->
    <!--              </div>-->
    <!--              <div nz-col nzSpan="12">-->
    <!--                <div echarts [options]="netflowTendOfDayOption"></div>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--            <nz-row>-->
    <!--              <nz-col nzSpan="24">-->
    <!--                <nz-tabset>-->
    <!--                  <nz-tab nzTitle="省内用户">-->
    <!--                    <nz-range-picker style="margin-bottom: 10px;"></nz-range-picker>-->
    <!--                    <nz-table #province [nzData]="provinceOfData">-->
    <!--                    <thead>-->
    <!--                    <tr>-->
    <!--                      <th>省份</th>-->
    <!--                      <th>平均流速</th>-->
    <!--                      <th>峰值流速</th>-->
    <!--                    </tr>-->
    <!--                    </thead>-->
    <!--                    <tbody>-->
    <!--                    <tr *ngFor="let data of province.data">-->
    <!--                      <td>{{ data.province }}</td>-->
    <!--                      <td>{{ data.average }}</td>-->
    <!--                      <td>{{ data.peak }}</td>-->
    <!--                    </tr>-->
    <!--                    </tbody>-->
    <!--                  </nz-table>-->
    <!--                  </nz-tab>-->
    <!--                  <nz-tab nzTitle="省外用户">-->
    <!--                    <nz-range-picker style="margin-bottom: 10px;"></nz-range-picker>-->
    <!--                    <nz-table #outProvince [nzData]="outProvinceOfData">-->
    <!--                      <thead>-->
    <!--                      <tr>-->
    <!--                        <th>省份</th>-->
    <!--                        <th>平均流速</th>-->
    <!--                        <th>峰值流速</th>-->
    <!--                      </tr>-->
    <!--                      </thead>-->
    <!--                      <tbody>-->
    <!--                      <tr *ngFor="let data of outProvince.data">-->
    <!--                        <td>{{ data.province }}</td>-->
    <!--                        <td>{{ data.average }}</td>-->
    <!--                        <td>{{ data.peak }}</td>-->
    <!--                      </tr>-->
    <!--                      </tbody>-->
    <!--                    </nz-table>-->
    <!--                  </nz-tab>-->
    <!--                  <nz-tab nzTitle="出网用户">-->
    <!--                    <nz-range-picker style="margin-bottom: 10px;"></nz-range-picker>-->
    <!--                    <nz-table #outNet [nzData]="outProvinceOfData">-->
    <!--                      <thead>-->
    <!--                      <tr>-->
    <!--                        <th>省份</th>-->
    <!--                        <th>平均流速</th>-->
    <!--                        <th>峰值流速</th>-->
    <!--                      </tr>-->
    <!--                      </thead>-->
    <!--                      <tbody>-->
    <!--                      <tr *ngFor="let data of outNet.data">-->
    <!--                        <td>{{ data.province }}</td>-->
    <!--                        <td>{{ data.average }}</td>-->
    <!--                        <td>{{ data.peak }}</td>-->
    <!--                      </tr>-->
    <!--                      </tbody>-->
    <!--                    </nz-table>-->
    <!--                  </nz-tab>-->
    <!--                </nz-tabset>-->
    <!--              </nz-col>-->
    <!--            </nz-row>-->
    <!--          </ng-container>-->
  </nz-modal>

  <nz-modal [(nzVisible)]="customVisible" [nzStyle]="{ top: '20px' }" nzTitle="域名分析" (nzOnCancel)="costomCancel()" (nzOnOk)="customOk()" [nzWidth]="width">
    <ng-container *nzModalContent>
      <nz-table #hostDetailTable [nzData]="hostDetailOfData">
        <thead>
        <tr>
          <th>域名</th>
          <th>平均流速(Gbps)</th>
          <th>峰值流速(Gbps)</th>
          <th>IPV4流速(Gbps)/占比</th>
          <th>IPV6流速(Gbps)/占比</th>
          <th>总访问量</th>
          <th>IP分析</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of hostDetailTable.data">
          <td><a (click)="showIpDetailTable()">{{ data.host }}</a></td>
          <td>{{ data.average }}</td>
          <td>{{ data.maxSpeed }}</td>
          <td>{{ data.high }}</td>
          <td>{{ data.low }}</td>
          <td>{{ data.click }}</td>
          <td><a (click)="showHost()">IP查看</a></td>
        </tr>
        </tbody>
      </nz-table>
      <button nz-button nzType="primary">导出</button>
      <nz-modal [(nzVisible)]="hostVisible" nzTitle="IP查看" (nzOnCancel)="hostCancel()" (nzOnOk)="hostCancel()">
        <ng-container *nzModalContent>
          <nz-table #hostTable [nzData]="hostData">
            <thead>
            <tr>
              <th>IP</th>
              <th>平均流速(Gbps)</th>
              <th>归属</th>
              <th>访问次数</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of hostTable.data">
              <td>{{ data.ip }}</td>
              <td>{{ data.average }}</td>
              <td>{{ data.belongs }}</td>
              <td>{{ data.times }}</td>
            </tr>
            </tbody>
          </nz-table>
          <button nz-button nzType="primary">导出</button>
        </ng-container>
      </nz-modal>
      <nz-modal [(nzVisible)]="ipDetailVidsible" [nzStyle]="{ top: '20px' }" nzTitle="IP详情" (nzOnCancel)="ipDetailCancel()" (nzOnOk)="ipDetailOk()" [nzWidth]="1300">
        <ng-container *nzModalContent>
          <nz-tabset>
            <nz-tab nzTitle="域名详情">
              <nz-table #ipDetailTable [nzData]="ipDetailOfDisplayData" nzTableLayout="fixed">
                <thead>
                <tr>
                  <th nzCustomFilter>
                    域名
                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                      <i nz-icon nzType="search"></i>
                    </nz-filter-trigger>
                  </th>
                  <th>CNAME</th>
                  <th>公司名</th>
                  <th>点击次数</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of ipDetailTable.data">
                  <td>{{ data.host }}</td>
                  <td>{{ data.webName }}</td>
                  <td>{{ data.compName }}</td>
                  <td>{{ data.clickTime }}</td>
                </tr>
                </tbody>
                <button nz-button nzType="primary" (click)="exportFile()" style="margin-top: 30px;">导出</button>
              </nz-table>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <div class="ant-table-filter-dropdown">
                  <div class="search-box">
                    <input type="text" nz-input placeholder="搜索域名" [(ngModel)]="searchValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                      搜索
                    </button>
                    <button nz-button nzSize="small" (click)="reset()">重置</button>
                  </div>
                </div>
              </nz-dropdown-menu>
            </nz-tab>
            <nz-tab nzTitle="CNAME详情">
              <nz-table #cnameTable [nzData]="cnameDetailOfDisplayData" nzTableLayout="fixed">
                <thead>
                <tr>
                  <th nzCustomFilter>
                    CNAME域
                    <nz-filter-trigger [(nzVisible)]="cnameVisible" [nzActive]="cnameValue.length > 0" [nzDropdownMenu]="menu">
                      <i nz-icon nzType="search"></i>
                    </nz-filter-trigger>
                  </th>
                  <th>网站名</th>
                  <th>公司名</th>
                  <th>点击次数</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of cnameTable.data">
                  <td>{{ data.cname }}</td>
                  <td>{{ data.webName }}</td>
                  <td>{{ data.compName }}</td>
                  <td>{{ data.clickTime }}</td>
                </tr>
                </tbody>
                <button nz-button nzType="primary" (click)="exportFile()" style="margin-top: 30px;">导出</button>
              </nz-table>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <div class="ant-table-filter-dropdown">
                  <div class="search-box">
                    <input type="text" nz-input placeholder="搜索CNAME" [(ngModel)]="cnameValue" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                      搜索
                    </button>
                    <button nz-button nzSize="small" (click)="reset()">重置</button>
                  </div>
                </div>
              </nz-dropdown-menu>
            </nz-tab>
          </nz-tabset>
        </ng-container>
      </nz-modal>
      <!--            <nz-table #customIcpNetflowTable [nzData]="customNetflowIcpOfData" nzTableLayout="fixed">-->
      <!--              <thead>-->
      <!--              <tr>-->
      <!--                <th-->
      <!--                  *ngFor="let column of customNetflowIcpOfColumns"-->
      <!--                  [nzSortOrder]="column.sortOrder"-->
      <!--                  [nzSortFn]="column.sortFn"-->
      <!--                  [nzSortDirections]="column.sortDirections"-->
      <!--                  [nzFilterMultiple]="column.filterMultiple"-->
      <!--                  [nzFilters]="column.listOfFilter"-->
      <!--                  [nzFilterFn]="column.filterFn"-->
      <!--                >-->
      <!--                  {{ column.name }}-->
      <!--                </th>-->
      <!--              </tr>-->
      <!--              </thead>-->
      <!--              <tbody>-->
      <!--              <tr *ngFor="let data of customIcpNetflowTable.data">-->
      <!--                <td><a (click)="showCustomIcpTable()">{{ data.icpName }}</a></td>-->
      <!--                &lt;!&ndash;                <td>{{ data.belong}}</td>&ndash;&gt;-->
      <!--                <td>{{ data.total }}</td>-->
      <!--                <td>{{ data.inPro }}</td>-->
      <!--                <td>{{ data.outPro }}</td>-->
      <!--                <td>{{ data.outNet }}</td>-->
      <!--                <td>{{ data.high }}</td>-->
      <!--                <td>{{ data.low }}</td>-->
      <!--                <td>{{ data.inProRent }}</td>-->
      <!--                <td>{{ data.inNetRent }}</td>-->
      <!--              </tr>-->
      <!--              </tbody>-->
      <!--            </nz-table>-->
      <!--            <button nz-button nzType="primary">导出</button>-->

      <nz-modal [(nzVisible)]="customIcpVisible" nzTitle="ICP详细信息" (nzOnCancel)="customIcpCancel()" (nzOnOk)="customIcpOk()" [nzWidth]="width">
        <ng-container *nzModalContent>
          <nz-tabset>
            <nz-tab nzTitle="IP">
              <nz-table #icpDetailTable [nzData]="icpDetailOfData">
                <thead>
                <tr>
                  <th>IP</th>
                  <th>平均流速(Gbps)</th>
                  <th>峰值流速(Gbps)</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of icpDetailTable.data">
                  <td><a (click)="showIpDetailTable()">{{ data.ip }}</a></td>
                  <td>{{ data.average }}</td>
                  <td>{{ data.maxSpeed }}</td>
                </tr>
                </tbody>
              </nz-table>
              <button nz-button nzType="primary">导出</button>
            </nz-tab>
            <nz-tab nzTitle="域名">
              <nz-table #hostDetailTable [nzData]="hostDetailOfData">
                <thead>
                <tr>
                  <th>域名</th>
                  <th>平均流速(Gbps)</th>
                  <th>峰值流速(Gbps)</th>
                  <th>IPV4流速(Gbps)/占比</th>
                  <th>IPV6流速(Gbps)/占比</th>
                  <th>总访问量</th>
                  <th>IP分析</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of hostDetailTable.data">
                  <td><a (click)="showIpDetailTable()">{{ data.host }}</a></td>
                  <td>{{ data.average }}</td>
                  <td>{{ data.maxSpeed }}</td>
                  <td>{{ data.high }}</td>
                  <td>{{ data.low }}</td>
                  <td>{{ data.click }}</td>
                  <td><a (click)="showHost()">IP查看</a></td>
                </tr>
                </tbody>
              </nz-table>
              <button nz-button nzType="primary">导出</button>
            </nz-tab>
          </nz-tabset>
        </ng-container>
      </nz-modal>
    </ng-container>
  </nz-modal>

  <nz-modal [(nzVisible)]="ipAnalyseVisible" [nzStyle]="{ top: '20px' }" nzTitle="IP分析" (nzOnCancel)="ipAnalyseCancel()" (nzOnOk)="ipAnalyseOk()" [nzWidth]="width">
    <ng-container *nzModalContent>
      <nz-table #ipAnalyseTable [nzData]="customNetflowIpOfData" nzTableLayout="fixed">
        <thead>
        <tr>
          <th
            *ngFor="let column of customNetflowIpOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of ipAnalyseTable.data">
          <td><a (click)="showIpTable()">{{ data.ip }}</a></td>
          <!--                <td>{{ data.ipIcp }}</td>-->
          <td>{{ data.total }}</td>
          <td>{{ data.inPro }}</td>
          <td>{{ data.outPro }}</td>
          <td>{{ data.outNet }}</td>
          <td>{{ data.inProRent }}</td>
          <td>{{ data.inNetRent }}</td>
          <td>{{ data.percent }}</td>
        </tr>
        </tbody>
      </nz-table>
      <button nz-button nzType="primary">导出</button>
      <nz-modal [(nzVisible)]="ipVisibel" nzTitle="IP域名详情" (nzOnCancel)="ipCancel()" (nzOnOk)="ipOk()" [nzWidth]="width">
        <ng-container *nzModalContent>
          <nz-table #ipAnalyseTable [nzData]="ipAnalyseOfData">
            <thead>
            <tr>
              <th>域名</th>
              <th>CNAME</th>
              <th>网站名称</th>
              <th>公司名称</th>
              <th>访问量</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of ipAnalyseTable.data">
              <td>{{ data.host }}</td>
              <td>{{ data.cname }}</td>
              <td>{{ data.webName }}</td>
              <td>{{ data.compName }}</td>
              <td>{{ data.analyseTimes }}</td>
            </tr>
            </tbody>
          </nz-table>
          <button nz-button nzType="primary">导出</button>
        </ng-container>
      </nz-modal>
    </ng-container>
  </nz-modal>

  <nz-modal [(nzVisible)]="cdnVisible"  nzTitle="CDN分析" (nzOnCancel)="cdnCancel()" (nzOnOk)="cdnCancel()" [nzWidth]="width">
    <ng-container *nzModalContent>
      <nz-table #cdnTable [nzData]="cdnData">
        <thead>
        <tr>
          <th>CDN名称</th>
          <th>CNAME泛域名</th>
          <th>总流速(Gbps)</th>
          <th>本省流速(Gbps)</th>
          <th>外省流速(Gbps)</th>
          <th>外网流速(Gbps)</th>
          <th>IPV4流速(Gbps)/占比</th>
          <th>IPV6流速(Gbps)/占比</th>
          <th>本省率</th>
          <th>本网率</th>
          <th>IP分析</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of cdnTable.data">
          <td>{{data.cdn}}</td>
          <td><a (click)="showCdnCname()">{{data.cname}}</a></td>
          <td>{{data.total}}</td>
          <td>{{data.inPro}}</td>
          <td>{{data.outPro}}</td>
          <td>{{data.outNet}}</td>
          <td>{{data.high}}</td>
          <td>{{data.low}}</td>
          <td>{{data.inProRent}}</td>
          <td>{{data.inNetRent}}</td>
          <td><a (click)="showCdnIp()">IP分析</a></td>
        </tr>
        </tbody>
      </nz-table>
      <button nz-button nzType="primary">导出</button>
      <nz-modal [(nzVisible)]="cdnCnameVisible"  nzTitle="CNAME分析" (nzOnCancel)="cdnCnameCancel()" (nzOnOk)="cdnCnameCancel()" [nzWidth]="1000">
        <ng-container *nzModalContent>
          <nz-table #cdnCnameTable [nzData]="cdnCnameData">
            <thead>
            <tr>
              <th>CNAME</th>
              <th>网站名</th>
              <th>点击次数</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of cdnCnameTable.data">
              <td>{{data.cname}}</td>
              <td>{{data.web}}</td>
              <td>{{data.clicks}}</td>
            </tr>
            </tbody>
          </nz-table>
          <button nz-button nzType="primary">导出</button>
        </ng-container>
      </nz-modal>
      <nz-modal [(nzVisible)]="cdnIpVisible"  nzTitle="IP分析" (nzOnCancel)="cdnIpCancel()" (nzOnOk)="cdnIpCancel()" [nzWidth]="1000">
        <ng-container *nzModalContent>
          <nz-table #cdnIpTable [nzData]="cdnIpData">
            <thead>
            <tr>
              <th>IP</th>
              <th>IP归属</th>
              <th>IP次数</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let data of cdnIpTable.data">
              <td>{{data.ip}}</td>
              <td>{{data.belongs}}</td>
              <td>{{data.times}}</td>
            </tr>
            </tbody>
          </nz-table>
          <button nz-button nzType="primary">导出</button>
        </ng-container>
      </nz-modal>
    </ng-container>
  </nz-modal>

