<app-main-content>
  <app-content-header title="全网总流量汇总总分析">
  </app-content-header>
  <app-content-body>
    <div>
      <form nz-form [formGroup]="selectForm">
        <nz-row nzGutter="24">
          <nz-col nzSpan="8">
            <nz-form-item>
              <nz-form-label nzFor="dateRange">时间</nz-form-label>
              <nz-form-control>
                <nz-range-picker id="dateRange" [nzShowTime]="true" formControlName="dateRange"></nz-range-picker>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSpan="4">
            <nz-form-item>
              <nz-form-label>时间粒度</nz-form-label>
              <nz-form-control>
                <nz-select formControlName="granularity">
                  <nz-option nzValue="fiveMinutes" nzLabel="5分钟"></nz-option>
                  <nz-option nzValue="oneHour" nzLabel="1小时"></nz-option>
                  <nz-option nzValue="oneDay" nzLabel="1天"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzSpan="4">
            <nz-form-item>
              <button nz-button nzType="primary" type="button" (click)="search()" class="search-button">
                <i nz-icon nzType="search" nzTheme="outline"></i>
                查询
              </button>
              <button nz-button nzType="default" type="reset"><i nz-icon nzType="rest" nzTheme="outline"></i>重置
              </button>
            </nz-form-item>
          </nz-col>
        </nz-row>
      </form>
    </div>
    <nz-row nzGutter="24">
      <nz-col nzSpan="4">
        <nz-card>
          <nz-statistic
            [nzValue]="(2.28 | number: '1.0-2')!"
            [nzTitle]="'今日下行流量较昨日'"
            [nzPrefix]="prefixTplOne"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#3F8600' }"
          >
          </nz-statistic>
          <ng-template #prefixTplOne><i nz-icon nzType="arrow-up"></i></ng-template>
          <nz-divider></nz-divider>
          <nz-statistic
            [nzValue]="(126941.28 | number: '1.0-2')!"
            [nzTitle]="'今日下行总流量'"
            [nzSuffix]="'GB'"
            [nzValueStyle]="{ color: '#3F8600' }"
          >
          </nz-statistic>
        </nz-card>
        <nz-card>
          <nz-statistic
            [nzValue]="(3.3 | number: '1.0-2')!"
            [nzTitle]="'今日上行流量较昨日'"
            [nzPrefix]="prefixTplTwo"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#CF1322' }"
          >
          </nz-statistic>
          <ng-template #prefixTplTwo><i nz-icon nzType="arrow-down"></i></ng-template>
          <nz-divider></nz-divider>
          <nz-statistic
            [nzValue]="(86941.32 | number: '1.0-2')!"
            [nzTitle]="'今日上行总流量'"
            [nzSuffix]="'GB'"
            [nzValueStyle]="{ color: '#3F8600' }"
          >
          </nz-statistic>
        </nz-card>
      </nz-col>
      <nz-col nzSpan="10">
        <nz-card>
          <nz-statistic
            [nzValue]="(3.3 | number: '1.0-2')!"
            [nzTitle]="'今日总流量较昨日'"
            [nzPrefix]="prefixTplOne"
            [nzSuffix]="'%'"
            [nzValueStyle]="{ color: '#CF1322' }"
          >
          </nz-statistic>
        </nz-card>
        <div echarts [options]="allFlowLineOption"></div>
      </nz-col>
      <nz-col nzSpan="10">
        <div>
          <nz-card>
            <nz-statistic
              [nzValue]="(213882.60 | number: '1.0-2')!"
              [nzTitle]="'今日总流量'"
              [nzSuffix]="'GB'"
              [nzValueStyle]="{ color: '#3F8600' }"
            >
            </nz-statistic>
          </nz-card>
        </div>
        <div echarts [options]="allFlowPieOption"></div>
      </nz-col>
    </nz-row>
    <nz-table #dnsTable [nzData]="dataList">
      <thead>
      <tr>
        <th nzAlign="center" *ngFor="let column of listOfColumn" [nzShowSort]="column.flag"
            [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of dnsTable.data">
        <td nzAlign="center">{{data.id}}</td>
        <td nzAlign="center">{{data.time}}</td>
        <td nzAlign="center">{{data.upFlow | number: '0.2-2'}}</td>
        <td nzAlign="center">{{data.downFlow | number: '0.2-2'}}</td>
        <td nzAlign="center">{{data.minBandwidth | number: '0.2-2'}}</td>
        <td nzAlign="center">{{data.maxBandwidth | number: '0.2-2'}}</td>
        <td nzAlign="center">{{data.allFlow | number: '0.2-2'}}</td>
        <td nzAlign="center">{{data.validity }}</td>
      </tr>
      </tbody>
    </nz-table>
  </app-content-body>
</app-main-content>
